<h1>Create</h1>

<form method="post">
    <label>Departamento: </label>
    <input type="text" name="nombre" class="form-control" />
    <label>Localidad</label>
    <input type="text" name="localidad" class="form-control" />
    <button class="btn-outline-info">Insertar</button>
</form>
